.button
  padding: 11px 20px
  border: none
  border-radius: 2px
  font-family: 'FuturaDemiC'
  text-transform: uppercase
  outline: none
  font-size: 0.94rem
  &:hover
    cursor: pointer
    animation: btnShake 200ms
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.2s
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
.label
  padding-left: 0.2rem
  font-size: 1.07rem
  &--light
    color: rgba($light, 0.5)
.input
  padding: 0.4rem
  padding-left: 0
  font-size: 1.285rem
  color: $light
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  &:-webkit-autofill
    -webkit-animation-name: autofill
    -webkit-animation-fill-mode: both
  &-group
    position: relative
  &::placeholder
    color: $text
  &.invalid
    border-bottom: 1px solid red
  &--light
    &::placeholder
      color: $light
      font-size: 1.3rem
.policy
  &__checkbox
    display: block
    opacity: 0
    visibility: hidden
    height: 0
    width: 0
    &.invalid ~
      .policy__label
        border-bottom: 1px solid red
    &:checked ~ 
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem
  &__label
    position: relative
    display: flex
    align-items: center
    font-size: 1.14rem
    cursor: pointer
    border-bottom: 1px solid transparent
    &--center
      justify-content: center
    &::before
      content: ''
      position: absolute
      left: -2rem
      width: 18px
      height: 18px
      margin-right: 0.8rem
      margin-left: 0.3rem
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
.page-scroll
  &__up
    position: fixed
    bottom: 1.5rem
    right: 2rem
    z-index: 1000
    display: none
    background: url('../img/scroll-up.svg') no-repeat center / 100%
    width: 2rem
    height: 2rem
    opacity: 0.6
    &:hover
      opacity: 1
      animation: scrollUpGrow 250ms forwards
.social
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  &__text
    display: inline-block
    margin-right: 0.7rem
    padding-left: 2rem
    font-size: 1.3rem
    line-height: 3rem
  &__link
    display: inline-block
    margin-right: 0.8rem
    width: 2rem
    height: 2rem
    border-radius: 100%
    &--instagram
      background: $primary url(../img/footer/icon-instagram.svg) no-repeat center / 1.5rem 1.117rem
    &--mail
      background: $primary url(../img/footer/icon-mail.svg) no-repeat center / 1.2rem 1.117rem
    &--vk
      background: $primary url(../img/footer/icon-vk.svg) no-repeat center / 1.5rem 1.5rem