@media screen and ( max-width: 1350px )
  .menu
    &__logo
      margin-left: 20px
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 991px )
  .menu
    &__logo
      margin-left: 50px
  .nav
    display: none
  .contacts
    &__button
      margin-right: 50px
  .hero
    &__instagram
      display: none
    &__content
@media screen and ( max-width: 576px )
  .menu
    padding-top: 3px
    .logo__link
      font-size: 12px
  .contacts
    &__phone
      margin-right: 50px
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    
    font-size: 1.64rem
    line-height: 1.4
  .hero
    justify-content: flex-start
    padding-top: 142px
    &__title
      max-width: 22.83rem
      font-size: 23px
      line-height: 132.83%
    &__scroll-down
      display: none
    &__content
      max-width: 30rem
      margin-left: 18px
      margin-right: 17px
    &__text
      margin-bottom: 2.8rem
      max-width: 26.5rem
      font-size: 18px
      line-height: 135.84%
    &__button
      display: block
      width: 100%
      max-width: 28.16rem
      margin-bottom: 2.3rem
      font-size: 13px
      line-height: 15px
@media screen and ( max-width: 396px )
  .menu
    &__logo
      margin-left: 15px
  .contacts
    &__phone
      margin-right: 15px
@media screen and ( max-height: 580px )
  .hero
    &__scroll-down
      min-width: 15rem
      min-height: 5rem
@media screen and ( max-height: 499px )
  .hero
    &__scroll-down
      display: none