@media screen and ( max-width: 1350px )
  .menu
    &__logo
      margin-left: 20px
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 991px )
  .menu
    &__logo
      margin-left: 50px
  .nav
    display: none
  .contacts
    &__button
      margin-right: 50px
  .hero
    &__instagram
      display: none
    &__content
@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 50px
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    max-width: 20.83rem
    font-size: 1.64rem
    line-height: 1.4;
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 34.86rem
    &__text
      margin-bottom: 2.28rem
      max-width: 23rem
      font-size: 1.29rem
      line-height: 1.35;
    &__button
      display: block
      width: 100%
      max-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-width: 396px )
  .menu
    &__logo
      margin-left: 15px
  .contacts
    &__phone
      margin-right: 15px
@media screen and ( max-height: 580px )
  .hero
    &__scroll-down
      min-width: 15rem
      min-height: 5rem
@media screen and ( max-height: 499px )
  .hero
    &__scroll-down
      display: none