@media screen and ( max-width: 1350px )
  .menu
    &__logo
      margin-left: 20px
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .hero
    &__content
      padding-left: 50px
@media screen and ( max-width: 991px )
  .menu
    &__logo
      margin-left: 50px
  .nav
    display: none
  .contacts
    &__button
      margin-right: 50px
  .hero
    &__content
      padding-left: 0
    &__text
      margin-top: 50px
      margin-bottom: 60px
      width: 90%
    &__instagram
      display: none

  // section examples
  .examples
    .swiper
      &-container
        min-height: 230px
      &-slide
        &__text
          flex-basis: 50%
@media screen and ( max-width: 788px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.3rem
  .card
    &__text
      margin-left: 0
  
  // section examples
  .examples
    .row
      padding-right: 20px
      .col
        &-40
          margin: auto
          max-width: 380px
    .swiper
      &__img
        padding: 0
        padding-top: 20px


  // section projects
  .projects
    &::before
      height: 100%
    &__section-title
      padding-top: 1.5rem
      color: $light
    .projects__card
      margin-bottom: 6rem 
@media screen and ( max-width: 576px )
  .menu
    padding-top: 3px
  .contacts
    &__phone
      margin-right: 50px
      color: $light
      text-decoration: none
    &__button
      display: none
  .hero
    padding-left: 0
    justify-content: flex-start
    padding-top: 142px
    &__content
      margin: 0 auto
      max-width: 80%
    &__title
      // margin-top: 50px
      margin-bottom: 35px
      max-width: 30rem
      font-size: 26px
      line-height: 150.83%
    &__scroll-down
      display: none
    &__text
      margin-bottom: 50px
      max-width: 90%
      font-size: 18px
      line-height: 135.84%
    &__button
      display: block
      width: 100%
      max-width: 28.16rem
      margin-bottom: 2.1rem
      font-size: 13px
      line-height: 15px
@media screen and ( max-width: 396px )
  .menu
    &__logo
      margin-left: 15px
  .contacts
    &__phone
      margin-right: 15px
@media screen and ( max-width: 377px )
  .menu
    .logo__link
      font-size: 12px
  .hero
    margin-top: 56px
    padding-top: 88px
    height: 480px
    &__title
      margin-top: 0
      margin-bottom: 13px
      max-width: 35rem
      font-size: 23px
      line-height: 132.83%  
    &__content
      max-width: 30rem
      margin-left: 18px
      padding-right: 15px
    &__text
      margin-top: 12px
      margin-bottom: 2.8rem
      width: 100%
      max-width: 26.5rem


      // section types
  .types
    &__row
      padding: 0 17px 0 19px
    &__section-title
      margin-bottom: 3.35rem
      font-size: 1.2rem
    &__card
      margin-bottom: 6.6rem
  .card
    &__title
      font-size: 1.26rem
    &__text
      margin-top: -12.2rem
      max-width: 22.6rem
    &__list
      padding-left: 0.73rem
      line-height: 1.9rem
      margin-bottom: 1.6rem
    &__pricetag
      max-width: 15.7rem
      padding: 1rem 0

      // section projects
  .projects
    &__row
      padding: 0 18px
    .section-title
      font-size: 1.26rem
      margin-bottom: 3.15rem
      &__heading
        margin-bottom: 1.32rem
    &__section-subtitle
      max-width: 305px
      font-size: 1.25rem
      line-height: 135.84%
      margin-top: 1.6rem
    &__card
      .card__text
        &--padd
         padding-bottom: 1.55rem
    .card
      margin-bottom: 6.8rem
      &__item
        &:nth-of-type(8),
        &:nth-of-type(9),
        &:nth-of-type(10),
        &:nth-of-type(11),
        &:nth-of-type(12)
          display: none
      &__pricetag
        padding-left: 3.5rem
@media screen and ( max-height: 580px )
  .hero
    &__scroll-down
      min-width: 15rem
      min-height: 5rem
@media screen and ( max-height: 499px )
  .hero
    &__scroll-down
      display: none