*, *:before, *:after
  box-sizing: border-box
  outline: none
html
  font-size: 14px
  color: $text
body
  font-family: 'FuturaBookC', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section 
  &--dark
    background: $dark url(../img/bg-lines-examples2.png) no-repeat center / cover
    color: $light
  &-title
    text-align: center
    &__word
      position: relative
      display: flex
      align-items: center
      &::after
        position: absolute
        left: 50%
        top: 1.3rem
        content: ''
        width: 90px
        height: 2px
        background-color: $primary
    &--left
      text-align: left
    &--light
      color: $light
    &__heading
      font-family: 'Yeseva One'
      font-weight: normal
      text-transform: uppercase
      line-height: 138.6%
      &--primary
        color: $primary
        font-size: 1.928rem
    &__text
      // max-width: 31.57rem
      font-size: 1.28rem
      line-height: 2.07rem
    &__image
      position: relative
      display: inline-block
      &::after, &::before
        position: absolute
        content: ''
        top: 50%
        transform: translateY(-50%)
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
      &::after
        right: 2.9rem
      &::before
        left: 2.7rem

.wrapper-bg
  background: url(../img/wrapper-bg/wrapper-bg.png) no-repeat center / cover