.footer
  padding: 9.2rem 0 0
  background: $dark url('../img/footer/footer-bg.jpg') no-repeat center / cover
  .container
    padding-left: 1.5rem
  &__wrap
    margin: auto
    margin-top: -24.9rem
    margin-bottom: 2.7rem
    padding: 2.5rem
    padding-top: 1rem
    max-width: 63.07rem
    background-color: $black
  &__title
    margin-bottom: 3.214rem
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    font-size: 1.428rem
    font-weight: normal
    font-style: normal
    text-align: center
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37.142rem
    margin: auto
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 45%
    margin-bottom: 3.4rem
    &--full-width
      flex-basis: 100%
      margin-bottom: 3.5rem
    div[id^=modal__user]
      position: absolute
      bottom: -20px
      left: 0
      width: 110%
    input
      padding-top: 0.1rem
      padding-bottom: 0.6rem
    label
      padding: 0
  &__policy
    position: relative
    display: flex
    justify-content: center
    flex-basis: 100%
    margin-bottom: 3.35rem
    div[id^=policy-checkbox]
      position: absolute
      width: 55%
      bottom: -20px
      left: 50%
      transform: translateX(-50%)
  &__button
    margin: auto
    padding: 1.25rem 4.2rem
    font-size: 1.072rem
  .wrapper
    display: flex
    flex-direction: column
  &__section-title
    padding-right: 1.7rem
    margin-bottom: 1.8rem
    span
      display: block
      padding-top: 5px
  &-social
    text-align: center
    padding-right: 1.1rem
    &__link
      display: inline-block
      width: 2rem
      height: 2rem
      margin-right: 0.8rem
      border-radius: 100%
      &--instagram
        background: $primary url(../img/footer/icon-instagram.svg) no-repeat center / 1.5rem 1.117rem
      &--mail
        background: $primary url(../img/footer/icon-mail.svg) no-repeat center / 1.2rem 1.117rem
  &__map-wrap
    margin: auto
    margin-top: 2.72rem
    margin-bottom: 5rem
    width: 100%
    max-width: 67.5rem
  &__map
    height: 33.214rem
    width: 100%
    padding-right: 1.5rem
  &__menu
    background-color: $dark
    padding: 3.2rem 0
    .logo
      margin-left: -0.714rem
    .button
      margin-right: 9px