.footer
  padding: 9.2rem 0 0
  background: $dark url('../img/footer/footer-bg.jpg') no-repeat center / cover
  &__wrap
    margin: auto
    margin-top: -25rem
    margin-bottom: 3.714rem
    padding: 2.5rem
    padding-top: 1rem
    background-color: $black
    max-width: 63.07rem
  &__title
    margin-bottom: 3.214rem
    font-family: 'Yeseva One', cursive
    text-transform: uppercase
    font-size: 1.428rem
    font-weight: normal
    font-style: normal
    text-align: center
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37.142rem
    margin: auto
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 45%
    margin-bottom: 3.4rem
    &--full-width
      flex-basis: 100%
      margin-bottom: 2.6rem
    input
      padding-top: 0.1rem
    label
      padding: 0
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button
    margin: auto
    padding: 1.2rem 4.2rem
    font-size: 1.072rem
  &__map
    max-width: 100%
    height: 33.214rem
    padding: 0 2rem
  &__menu
    background-color: $dark
    padding: 3.4rem 0