.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 999
  background-color: $dark;
  padding: 23px 0
  &-hide
    animation: headerHide 300ms ease-in-out forwards
  &-show
    animation: headerShow 300ms ease-in-out forwards
.menu
  display: flex
  justify-content: space-between
  align-items: center
.logo 
  font-family: 'FuturaDemiC'
  font-style: normal
  font-weight: 500
  font-size: 14px
  line-height: 16px
  text-transform: uppercase
  &__link
    color: $primary
    text-decoration: none
    &:visited
      color: $primary
.nav
  display: flex
  justify-content: space-between
  width: 42.5%
  margin-right: 2%
  &__item
    color: $light
    text-decoration: none
    text-transform: uppercase
    transition: color 0.3s
    &:hover
      color: $primary
.phone
  color: $primary
.contacts
  &__phone
    margin-right: 3rem
    font-family: 'FuturaDemiC'
  &__button
    margin-right: 17px
    padding-left: 20px
    padding-right: 23px
    font-family: FuturaDemiC
    font-weight: 500
    font-size: 13px
    line-height: 15px