.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 12
  background-color: $dark;
  padding: 24px 0
.menu
  display: flex
  justify-content: space-between
  align-items: center
  padding-left: 1.5rem
  padding-right: 1.5rem
.logo 
   text-transform: uppercase
   &__link
    color: $primary
    text-decoration: none
.nav
  &__item
    margin-right: 2.85rem
    color: $light
    text-decoration: none
    text-transform: uppercase
    transition: color 0.3s
    &:hover
      color: $primary
.phone
  color: $primary
.contacts
  &__phone
    margin-right: 45px